.bg{
   
    width: 0px;
    height: 300px;
    display: grid;
    place-items: center;
    background-color: aquamarine;
}

.bg h5{
    z-index: 2;
    font-size: 1.5rem;
}


.shape{
    width: 70px;
    height: 70px;
    background-color: #c4376b;
    position: relative;
    bottom: 9.4rem;
}



.shape::before{
    content: "";
    position: absolute;
    left: 70px;
    
  border-left: 35px solid  #c4376b;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}
